<p class="img-responsive thumbnail　aligncenter size-full wp-image-425 " data-toggle="modal" data-target="#image_Modal_<%= ramenpost.id %>" style="cursor:pointer; text-align:center">
 <%= image_tag ramenpost.image.thumb, class: "img-responsive", style: 'margin: auto;', size: '400' %> 
</p>
<div class="modal fade" id="image_Modal_<%= ramenpost.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg modal-middle"> 
   <div class="text-center">
    <p><%= ramenpost.restaurant_name %></p>
    <p class="aligncenter size-full wp-image-425"><%= image_tag ramenpost.image, class: "img-responsive img-center" %></p>
  　 <div class="modal-img_footer">
     <%= render 'likes/like_button', ramenpost: ramenpost %>
     <% if current_user == ramenpost.user %>
      <%= link_to "", ramenpost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-primary btn-md glyphicon glyphicon-trash' %><br>
     <% end %>
      平均評価:<div id="average-<%= ramenpost.id %>" style="pointer-events:none;"></div><%= ave = Evaluation.where(ramenpost_id: ramenpost.id).average(:star).try!(:round, 2) %><br>
      あなたの評価:<% user_evaluation = Evaluation.find_by(user_id: current_user.id, ramenpost_id: ramenpost.id).try!(:star) %> 
      <%= form_tag evaluations_path, checked: user_evaluation, id: "ramenpost-form-#{ramenpost.id}" do %>
      <%= hidden_field_tag :ramenpost_id, ramenpost.id %>
      <div id="evaluation-<%= ramenpost.id %>"></div>
    　　 <%= submit_tag "評価する" %>
    　<% end %> 
      <span class="glyphicon glyphicon-cutlery"></span>：<%= ramenpost.menu %></br>
      <span class="glyphicon glyphicon-pencil"></span>：<%= ramenpost.content %></br>
    　<button type="button" class="btn btn-success" data-dismiss="modal">Close</button> 
    </div>
   </div>
  </div>
</div>

<script>
  $("#average-<%= ramenpost.id %>").raty({
      number: 5,
      score : <%= ave || 0 %>
  });
  $("#evaluation-<%= ramenpost.id %>").raty({
      number: 5,
      score : <%= user_evaluation || 0 %>
  });
</script>
