<p><%= image_tag ramenpost.image.to_s %></p>
  <div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg modal-middle"> //モーダルウィンドウの縦表示位置を調整・画像を大きく見せる
     <div class="modal-content">
      <div class="modal-body">
       <img src="http://pilgrim-guild.com/wp-content/uploads/2016/11/baby-1151351_1920.jpg" alt="baby-1151351_1920" width="1920" height="1440" class="aligncenter size-full wp-image-425" alt="baby-1151351_1920" />
      </div>
       <div class="modal-img_footer">
        <p><%= ramenpost.restaurant_name %></p>
        <p><%= ramenpost.menu %></p>
        <p class="content"><%= ramenpost.content %></p>
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button> //ボタンを取り付け
       </div>
      </div>
    </div>
  </div>
  <p><%= image_tag ramenpost.image.to_s %></p>
  <div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   <div class="modal-dialog modal-lg modal-middle"> //モーダルウィンドウの縦表示位置を調整・画像を大きく見せる
    <div class="modal-content">
     <div class="modal-body">
     <img src="http://pilgrim-guild.com/wp-content/uploads/2016/11/baby-1151351_1920.jpg" alt="baby-1151351_1920" width="1920" height="1440" class="aligncenter size-full wp-image-425" alt="baby-1151351_1920" />
    </div>
    <div class="modal-img_footer">
     <p><%= ramenpost.restaurant_name %></p>
     <p><%= ramenpost.menu %></p>
     <p class="content"><%= ramenpost.content %></p>
    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button> //ボタンを取り付け
    </div>
   </div>
  </div>
 </div>